@media(max-width:480px){
    body{
        overflow-x: hidden;
    }

    .hero-bio{
        height: 30vh;
        max-width: 100%;
    }

    .inner-hero h1{
        font-size: 1rem;
    }
    
    .inner-hero p{
        font-size: 0.8rem;
    }

    .intro{
        max-width: 100%;
        padding: 02rem;
        font-size: 0.8rem;
    }

    .key-considerations h2{
        font-size: 0.8rem;
    }

    .system-grid{
        display: grid;
        grid-template-columns:repeat(2,minmax(50px,1fr));gap:1rem;
        padding: 1rem;
    }

    .components{
        font-size: 0.8rem;
    }

    .images{
        display: grid;
        grid-template-columns:repeat(2,minmax(50px,1fr));gap:1rem;
        padding: 1rem;
        justify-items: center;

    }

    .images img{
        height: auto;
        width: 150px;
        border-radius: 20px;
    }

    .installation-process{
        height: 30vh;
        padding: 1rem;
        line-height: 1rem;
        font-size: 0.8rem;
    }

    .benefits-container h2{
        font-size: 0.8rem;
    }

    .benefits-container{
        font-size: 0.8rem;
        height: 15vh;
    }

    .contact-us h3{
        font-size: 0.8rem;
    }

    .contact-us a{
        padding: 1rem;
        font-size: 0.8rem;
    }

    .footer-links{
        gap: 0.2rem;

    }

    .footer-links a{
        font-size: 0.8rem;
    }

    .site-footer {
    background: #f5fbf8;
    padding: 1.6rem 0;
    margin-top: 1rem;
}
}