@media(max-width:450px){
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 0.2rem 0.2rem;
    margin: 0.5rem 0.5rem;
}

.logo-section img{
    height: 40px;
    width: 40px;
    padding:0.2rem 0.2rem; 
    margin: 0.3rem 0.3rem;
}
.nav-menu ul{
    gap: 0.5rem;
    padding:1.4rem 0.5rem; 
    font-size: 0.6rem; 
}

.hero-image-handles {
    margin-left: 9%;
    margin-right: 9%;
}

.hero-image-one img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 0.5rem;
}

.handles p{
    color: white;
    font-size: 0.6rem;
    padding:0.3rem  0;
}

.handles-list{
    gap: 1.5rem;
    font-size: 1rem;
}

.hero-text{
    margin-left: 100px;
    font-size: 0.6rem;
}

.contacts-why{
    margin-right: 27%;
    margin-left: 28%;
    padding: 0.6rem;
}

.hero-contact a,
.hero-contact-why a{
    font-size: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px;
}

.achievement{
    background-color: #677e8a;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem 2rem; 
    color: white;  
}

.achievement span{
    font-size: 0.5rem;
    font-weight: bold;
}

.achievement p{
    font-size: 0.5rem;
}

.about-text {
    margin-top: 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1rem;
    line-height: 1rem;
    font-size: 0.5rem;
}

.services-main{
    font-size: 0.5rem;
}

.services-container{
    max-width: 100%;
    padding: 3rem 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.service-text{
    position: relative;
    max-width: 100%;
    width: 350px;
    height: 320px;
    align-content: center;
    width: 90%;
    margin: 1rem;
    border-radius: 20px;
    line-height: 1rem; 
}


.service-text img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.service-text-overlay{
    width: 350px;
    height: 357px; 
}

.service-text-overlay p{
    margin-left: 0.6rem;
    font-weight: bold;
    padding:0 0.2rem;
    font-size: 0.8rem;
    padding: 0.3rem 0.2rem;
}

.service-links{
    margin: 0.2rem 0;
     padding: 0.4rem 0.4rem;  
}

.service-links a{
    padding: 0.2rem 0.2rem;
    margin-left: 0.6rem;
    margin-bottom: 0.1rem;
    font-size: 0.6rem;
}

.why-choose-us-container{
    padding: 0.2rem;
    margin: 0.2rem 0.2rem;
}
.choose-us-text h1{
    padding: 0.2rem;
    font-size: 1.2rem;
}

.choose-us-text{
    font-size: 0.6rem;
    line-height: 1.5rem;
}

.choose-us-text span{
    font-size: 0.6rem;
}

.uptodate-container img{
    max-width: 100%;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 0.2rem;
    margin-top: 0.3rem;
}

.uptodate-container{
    flex-direction: column;
    align-items: center;
}

.keeping-uptodate h1{
    padding: 1rem 0;
    font-size: 0.6rem;
    
}

.keeping-uptodate{
    max-width: 100%;
    font-size: 0.6rem;
    line-height: 1rem;  
}

.bio-txt{
    font-size: 0.7rem;
    line-height: 1.2rem;
    padding: 2rem;
}
}